<!doctype html>
<html lang="en">

<head>
  <script type="module" src="index.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/ws.js"></script>
  <link rel="stylesheet" href="main.css" />
</head>

<body>

  <h1 class="text-3xl">Big user site!</h1>

  <div class="user-list-component flex flex-col component px-4" id="user-list-component" hx-get="/users"
    hx-trigger="load" hx-swap="innerHTML">
  </div>

  <div class="user-create-component" id="user-create-component">
    <form class="flex flex-col items-center component px-8" id="user-create-form" hx-post="/users" hx-target="this"
      hx-swap="afterend">
      <label for="email">Email</label>
      <input class="i-form-input" name="email" type="email" />
      <label for="password">Password</label>
      <input class="i-form-input" name="password" type="password" />

      <button
        class="h-10 w-fit px-4 my-4 font-semibold rounded-md bg-black hover:bg-gray-700 transition-colors duration-100 ease-in-out text-white"
        type="submit">
        Create user
      </button>
    </form>
  </div>

  <div class="component-posts component flex flex-col mx-16">
    <div id="ws-posts" class="ws-posts" hx-ext="ws" ws-connect="/posts/ws">
    </div>
  </div>
</body>

</html>
